<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h2>Manage <b>Employees</b></h2>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success">Add</button>&nbsp;
      <button class="btn btn-danger">delete</button>
    </div>
  </div>
</div>
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
            </span></th>
          <th>Row</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>1</td>
          <td>Clark</td>
          <td>Kent</td>
          <td>clarkkent@mail.com</td>
          <td>(+57) 320-394-9809</td>
          <td>
            <button class="btn btn-secondary">edit</button>&nbsp;
            <button class="btn btn-danger">delete</button>
        </td>
        </tr>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>2</td>
          <td>John</td>
          <td>Carter</td>
          <td>johncarter@mail.com</td>
          <td>(+57) 320-394-9809</td>
          <td>
            <button class="btn btn-secondary">edit</button>&nbsp;
            <button class="btn btn-danger">delete</button>
        </td>
        </tr>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>3</td>
          <td>Peter</td>
          <td>Parker</td>
          <td>peterparker@mail.com</td>
          <td>(+57) 320-394-9809</td>
          <td>
            <button class="btn btn-secondary">edit</button>&nbsp;
            <button class="btn btn-danger">delete</button>
        </td>
        </tr>
      </tbody>
    </table>
</div>

<!--Modal Add New Employees-->

<!--Modal Delete New Employees-->